.my-select-content {
  background: #f8fafc;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  padding: 8px 0;
}

.my-select-item {
  font-size: 1.1rem;
  padding: 12px 24px 12px 40px;
  border-radius: 6px;
  transition: background 0.2s;
}

.my-select-item[aria-selected="true"],
.my-select-item:focus,
.my-select-item:hover {
  background: #e0e7ff;
  color: #3730a3;
}

.teste {
  max-width: min-content !important;
}

/* .teste2{
    padding-left: 8px !important; 
} */
.teste3 {
  padding: 25px 8px 25px 8px !important;
}

.title-form {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 10px;
}


@media (max-width: 768px) {

  /* .search-container{
    position: absolute;
    max-width: 100vw;
    right: 0;
  } */
  .container-consulta .tracking-tight {
    font-size: 1.3rem;
  }

  .container-consulta .text-muted-foreground {
    display: none;
  }

  .container-resultados-lista {
    margin-top: 1rem !important;
  }

  .container-resultados-lista .card-resultados-lista {
    padding: 0px 1rem 1rem 1rem;
  }

  .cardheader {
    padding: 0.85rem 1.45rem !important;
  }

  .colunas-lista {
    text-align: start;
  }

  .colunas-lista:last-child {
    text-align: start;
  }

  .coluna-acao-lista {
    text-align: start !important;
  }

  .coluna-acao-lista a {
    max-width: 15vw;
    font-size: 0;
  }

  /* .coluna-acao-lista svg {
    margin-right: -10px;
  } */

  /* Hide the 3rd and 4th table header cells */
  .table-os th:nth-child(3) {
    display: none;
  }

  .table-os td:nth-child(3) {
    display: none;
  }

  /* Hide the 3rd and 4th table data cells */
}